*{
    margin:0;
    padding:0;

}


body{
background-color: #94c9a9;
text-align: center;


}
.container{

height:70vh;
/* width: 70vh; */
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}

.game{


height:60vmin;
width:60vmin;
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;

}


.box{

height:18vmin;
width:18vmin;
border-radius: 1rem;
border: none;
box-shadow: 0 0 1rem rgba(0,0,0.3);
/* color:#b0413e; */
font-size: 9vmin;
background-color:#ffffcf ;
}

#reset{



padding:1rem;
background-color: #191913;
font-size: 1.25rem;
border-radius: 1rem;
color:aqua

}
#new_btn{

    padding:1rem;
    background-color: #191913;
    font-size: 1.25rem;
    border-radius: 1rem;
    color:aqua
    

}
#pp{
color:#ffffcf;
font-size: 8vmin;
color: cyan;


}
.winer{
height:30vmin;

}



.hide{

display: none;

}



.O{

 color:#b0413e;
}
.X{
color:aqua

}



